<div class="mailing-list">
  <h5>Sign up to my newsletter to receive updates from the workshop</h5>
  <div class="dcen">
    <%= form_tag('/pages/subscribe', method: "post", id: "subscribe",) do %>
      <%= email_field(:email, :address, {id: "email", placeholder: "email address"}) %>
      <%= submit_tag("Sign Up", class: "btn-primary br-r") %>
    <% end %>
  </div>
</div>
<div class="footer">
  <% if user_signed_in? %>
    <%= link_to "NEW PROJECT", new_project_path %>
    <%= link_to "NEW BLOG", new_update_path %>
    <%= link_to "Homepage", edit_homepage_path(Homepage.first) %>
  <% else %>
    <div class="footer-left">
      <p style="margin-bottom: 0px;">jamie1wild@gmail.com - +44 7921812332</p>
    </div>
  <% end %>
  <div class="footer-center">
    <%= link_to "https://www.instagram.com/james_wild_sculptures/", class: "insta-link", target: "_blank" do %>
      <i class="fab fa-instagram footer-insta"></i>
    <% end %>
  </div>
  <div class="footer-right">
    <p style="margin-bottom: 0px;">Built by <a style="font-family: Raleway;" href="https://www.hoxton-digital.com/" target="blank">Hoxton Digital</a><a href="https://www.hoxton-digital.com/" style="display: none;">London Web Development</a></p>
  </div>
</div>
